.educate {
  padding: 16px;
  padding-top: 80px;
  background: #70CDFB;
  min-height: 100vh;
  overflow: auto;
}

.educate__container {
  background: #efefef;
  border-radius: 20px;
  padding: 16px;
}

.educate__container > * {
  position: relative;
  top: -15vw;
}

.educate__intro > h3 {
  color: #4A90E2;
  font-weight: 900;
}

.educate__intro > h3,
.educate__intro > h2 {
  margin: 5px 0;
}

.educate__intro > p {
  margin: 15px 0;
}

.recycle {
  width: 65vw;
}

.recycle__stats {
  padding: 16px;
  border-radius: 10px;
  color: white;
  background: #E69494;
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recycle__stats > h1 {
  font-size: 3em;
  margin: 12px;
}

.recycle__stats > p {
  margin: 4px;
}
