.scan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.scan__camera {
  position: absolute;
  z-index: -1;
  background: blue;
  left: 0;
  top: 0;
  width: 100%;
}
